<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dslab.event.mapper.EventMapper">

    <resultMap id="BaseResultMap" type="com.dslab.event.domain.Event">
        <result column="event_id" property="eventId"/>
        <result column="name" property="name"/>
        <result column="event_type" property="eventType"/>
        <result column="position_type" property="positionType"/>
        <result column="member_type" property="memberType"/>
        <result column="building_id" property="buildingId"/>
        <result column="link" property="link"/>
        <result column="date" property="date"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
        <result column="cycle" property="cycle"/>
        <result column="status" property="status"/>
        <result column="activity_type" property="activityType"/>
    </resultMap>

    <sql id="Base_Column_List">
        event_id,
        `name`,
        event_type,
        position_type,
        member_type,
        building_id,
        link,
        `date`,
        start_time,
        end_time,
        duration,
        `cycle`,
        `status`,
        activityType
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="event_id" keyProperty="eventId"
            parameterType="com.dslab.event.domain.Event">
        INSERT INTO event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != name and '' != name">
                name,
            </if>
            <if test="null != eventType and '' != eventType">
                event_type,
            </if>
            <if test="null != positionType and '' != positionType">
                position_type,
            </if>
            <if test="null != memberType and '' != memberType">
                member_type,
            </if>
            <if test="null != activityType and '' != activityType">
                `activityType`
            </if>
            <if test="null != buildingId and '' != buildingId">
                building_id,
            </if>
            <if test="null != link and '' != link">
                link,
            </if>
            <if test="null != date and '' != date">
                `date`,
            </if>
            <if test="null != startTime and '' != startTime">
                start_time,
            </if>
            <if test="null != endTime and '' != endTime">
                end_time,
            </if>
            <if test="null != duration and '' != duration">
                duration,
            </if>
            <if test="null != cycle and '' != cycle">
                `cycle`,
            </if>
            <if test="null != status and '' != status">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != name and '' != name">
                #{name},
            </if>
            <if test="null != eventType and '' != eventType">
                #{eventType},
            </if>
            <if test="null != positionType and '' != positionType">
                #{positionType},
            </if>
            <if test="null != memberType and '' != memberType">
                #{memberType},
            </if>
            <if test="null != activityType and '' != activityType">
                #{activityType},
            </if>
            <if test="null != buildingId and '' != buildingId">
                #{buildingId},
            </if>
            <if test="null != link and '' != link">
                #{link},
            </if>
            <if test="null != date and '' != date">
                #{date},
            </if>
            <if test="null != startTime and '' != startTime">
                #{startTime},
            </if>
            <if test="null != endTime and '' != endTime">
                #{endTime},
            </if>
            <if test="null != duration and '' != duration">
                #{duration},
            </if>
            <if test="null != cycle and '' != cycle">
                #{cycle},
            </if>
            <if test="null != status and '' != status">
                #{status}
            </if>
        </trim>
    </insert>

    <update id="deleteByEventId">
        UPDATE event
        <set>
            <if test="null != status and '' != status">`status` = 0</if>
        </set>
        WHERE event_id = #{eventId}
    </update>

    <update id="deleteByName">
        UPDATE event
        <set>
            <if test="null != status and '' != status">`status` = 0</if>
        </set>
        WHERE `name` = #{name}
    </update>

    <update id="update" parameterType="com.dslab.event.domain.Event">
        UPDATE event
        <set>
            <if test="null != name and '' != name">name = #{name},</if>
            <if test="null != eventType and '' != eventType">event_type = #{eventType},</if>
            <if test="null != positionType and '' != positionType">position_type = #{positionType},</if>
            <if test="null != memberType and '' != memberType">member_type = #{memberType},</if>
            <if test="null != activityType and '' != activityType">activity_type = #{activityType},</if>
            <if test="null != buildingId and '' != buildingId">building_id = #{buildingId},</if>
            <if test="null != link and '' != link">link = #{link},</if>
            <if test="null != date and '' != date">`date` = #{date},</if>
            <if test="null != startTime and '' != startTime">start_time = #{startTime},</if>
            <if test="null != endTime and '' != endTime">end_time = #{endTime},</if>
            <if test="null != duration and '' != duration">duration = #{duration},</if>
            <if test="null != cycle and '' != cycle">`cycle` = #{cycle}</if>
            <if test="null != status and '' != status">`status` = #{status}</if>
        </set>
        WHERE event_id = #{eventId}
    </update>


    <select id="getByEventId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM event
        WHERE event_id = #{eventId}
    </select>

    <select id="getByEventName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM event
        WHERE name = #{name}
    </select>

    <select id="getByBuildingId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM event
        WHERE building_id = #{buildingId}
    </select>
</mapper>